/* Global */
:root {
  --accent-color: #7857d1;
  --responsive-width: calc(100vw - 7.3rem);
}
html {
  font-size: 10px;
}
body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
  box-sizing: border-box;
}
.btn {
  font-family: "Montserrat", sans-serif;
}
.btn-primary {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}
.btn-secondary {
  background-color: white !important;
  border-color: white !important;
  color: black !important;
}
.btn-xs {
  font-size: 0.875rem !important;
  padding: 2.5px 5px !important;
}
.btn-sm {
  font-size: 1.25rem !important;
  padding: 5px 10px !important;
}
.btn-md {
  font-size: 1.5rem !important;
  padding: 7.5px 12.5px !important;
}
.btn-lg {
  font-size: 1.75rem !important;
  padding: 9px 15px !important;
}
.btn-xl {
  font-size: 2rem !important;
  padding: 11px 17px !important;
}
.container {
  padding: 1.3rem 3.6rem !important;
}
.col {
  padding: 0 !important;
}
.grey-bg {
  background-color: #f5f5f5 !important;
}
.d-grey-bg {
  background-color: #e8e8e8 !important;
}
.div-shadow {
  box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
  border: none;
}
.btn-div {
  width: fit-content;
  margin: 1.6rem auto 3.6rem;
}
@media only screen and (min-device-width: 576px) {
}
@media only screen and (min-device-width: 768px) {
}
@media only screen and (min-device-width: 992px) {
}
@media only screen and (min-device-width: 1200px) {
}
/* =================================================================== */
/* Navbar Styling */
/* =================================================================== */
nav {
  padding-left: 10% !important;
  padding-right: 10% !important;
}
.navbar {
  background-color: #000;
}
.navbar-toggler {
  background-color: transparent;
}
.logo {
  width: 40px;
  height: 40px;
}
.hamburger {
  width: 20px;
  height: 20px;
}
@media only screen and (min-device-width: 576px) {
  .logo {
    width: 80px;
    height: 80px;
  }
  .hamburger {
    width: 40px;
    height: 40px;
  }
}
@media only screen and (min-device-width: 1025px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1601px) {
  h1 {
    color: red;
  }
}
/* =================================================================== */
/* Hero-Styling */
/* =================================================================== */
.hero-video {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
  height: 60vh;
  transform: scale(2.5, 2.5);
}
.video-overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.55;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.video-text-content {
  position: absolute;
  z-index: 3;
  top: 25%;
  margin-left: 10%;
}
.video-text-content h1 {
  text-transform: uppercase;
  font-size: 5.9rem;
  font-weight: 600;
  color: #fff;
}
.video-text-content p {
  font-size: 1.15rem;
  color: rgb(216, 215, 215);
}
.hero-cta {
  position: absolute;
  bottom: 15%;
  z-index: 3;
  margin-left: 10%;
}

.join-btn {
  margin-right: 1rem;
}
.btn-accent {
  background-color: var(--accent-color);
}
@media only screen and (min-device-width: 576px) {
  .hero-video {
    position: relative;
    margin: 0;
    padding: 0;
  }

  video {
    width: 100%;
    height: 60vh;
    transform: scale(3, 3);
  }
  .video-text-content {
    top: 30%;
    margin-left: 15%;
  }
  .video-text-content h1 {
    font-size: 7.7rem;
  }
  .video-text-content p {
    margin-top: 1rem;
    font-size: 1.35rem;
  }
  .hero-cta {
    position: absolute;
    bottom: 25%;
    z-index: 3;
    margin-left: 15%;
  }

  .hero-cta {
    bottom: 25%;
  }
}
@media only screen and (min-device-width: 1025px) {
  .video-text-content h1 {
    font-size: 12rem;
  }
  .video-text-content p {
    margin-top: 0.5rem;
    font-size: 1.75rem;
  }
}
@media only screen and (min-device-width: 1601px) {
  .video-text-content h1 {
    font-size: 15rem !important;
  }

  .hero-cta {
    bottom: 15%;
  }
}
/* =================================================================== */
/* Membership Section  */
/* =================================================================== */
.membership {
  padding: 1.3rem 3.6rem;
}

.section-title {
  font-weight: 600;
  font-size: 2.5rem;
  display: block;
  margin: 1.9rem auto;
}
.card {
  margin: 2.8rem 0 !important;
  position: relative;
  border: none;
  border-radius: 0.3rem !important;
  box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
}
.card-split-left {
  width: 78%;
  display: block;
  position: relative;
  border: none;
  padding: 1rem 0 1rem 1.3rem;
}
.card-split-right {
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  background-color: var(--accent-color);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 78%;
}
.card-split-right p {
  display: flex;
  position: relative;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
}

.card-title {
  font-size: 1.6rem !important;
  font-weight: 900 !important;
}
.card-subtitle {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}
pre {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.6rem !important;
  font-weight: 900 !important;
}
pre .frequency {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.7rem !important;
  font-weight: 600 !important;
}
pre .price {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}
.card-block ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}
@media only screen and (min-device-width: 576px) {
  .membership {
    padding: 1.3rem 0 !important;
  }

  .cards {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section-title {
    font-weight: 600;
    font-size: 5vw;
    display: block;
    margin: 1.9rem auto;
  }
  .card {
    margin: 2.8rem 0.5rem !important;
    min-width: fit-content;
    position: relative;
    display: flex;
    border: none;
    border-radius: 0.3rem !important;
    box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
    flex: 1 1 0.1rem;
    overflow: hidden;
  }
  .card-split-left {
    width: 100%;
    display: block;
    position: relative;
    border: none;
    padding: 1rem 0 1rem 1.3rem;
  }
  .card-split-right {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    left: 10%;
    border-radius: 0;
    padding: 0.5rem;
    margin-bottom: 2rem;
    margin-top: 1rem;
  }
  .card-split-right p {
    margin-bottom: 0;
  }

  .card-title {
    font-size: 1.6rem !important;
    font-weight: 900 !important;
  }
  .card-subtitle {
    font-size: 0.8rem !important;
    font-weight: 400 !important;
  }
  pre {
    font-family: "Montserrat", sans-serif !important;
    /* font-size: 1.6rem !important; */
    font-size: 2vw !important;
    font-weight: 900 !important;
  }
  pre .frequency {
    font-family: "Montserrat", sans-serif !important;
    /* font-size: 0.7rem !important; */
    font-size: 1.1vw !important;
    font-weight: 600 !important;
  }
  pre .price {
    font-family: "Montserrat", sans-serif !important;
    /* font-size: 1.2rem !important; */
    font-size: 1.4vw !important;
    font-weight: 600 !important;
  }
  .card-block ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
  }
  .card-block ul li {
    font-size: 1.1vw !important;
  }
}
@media only screen and (min-device-width: 1025px) {
  .membership {
    padding: 1.3rem 0 !important;
    /* margin: 0 10rem !important; */
  }

  .section-title {
    font-weight: 600;
    font-size: 3vw;
    display: block;
    margin: 1.9rem auto;
  }

  .card-title {
    font-size: 1.6rem !important;
    font-weight: 900 !important;
  }
  .card-subtitle {
    font-size: 0.8rem !important;
    font-weight: 400 !important;
  }
  pre {
    font-family: "Montserrat", sans-serif !important;
    font-size: 2.75rem !important;
    /* font-size: 2vw !important; */
    font-weight: 900 !important;
  }
  pre .frequency {
    font-family: "Montserrat", sans-serif !important;
    font-size: 1.7rem !important;
    /* font-size: 1.1vw !important; */
    font-weight: 600 !important;
  }
  pre .price {
    font-family: "Montserrat", sans-serif !important;
    font-size: 1.8rem !important;
    /* font-size: 1.4vw !important; */
    font-weight: 600 !important;
  }
  .card-block ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
  }
  .card-block ul li {
    font-size: 1.7rem !important;
    /* font-size: 1.1vw !important; */
  }
}
@media only screen and (min-device-width: 1601px) {
  .membership {
    padding: 1.3rem 0 !important;
    /* margin: 0 10rem !important; */
  }

  .section-title {
    font-weight: 600;
    font-size: 5rem;
    display: block;
    margin: 1.9rem auto;
  }

  .card-title {
    font-size: 1.6rem !important;
    font-weight: 900 !important;
  }
  .card-subtitle {
    font-size: 0.8rem !important;
    font-weight: 400 !important;
  }
  pre {
    font-family: "Montserrat", sans-serif !important;
    font-size: 2.75rem !important;
    /* font-size: 2vw !important; */
    font-weight: 900 !important;
  }
  pre .frequency {
    font-family: "Montserrat", sans-serif !important;
    font-size: 1.7rem !important;
    /* font-size: 1.1vw !important; */
    font-weight: 600 !important;
  }
  pre .price {
    font-family: "Montserrat", sans-serif !important;
    font-size: 1.8rem !important;
    /* font-size: 1.4vw !important; */
    font-weight: 600 !important;
  }
  .card-block ul {
    margin: 0;
    padding: 0 0 0 1.5rem;
  }
  .card-block ul li {
    font-size: 1.7rem !important;
    /* font-size: 1.1vw !important; */
  }
}
/* =================================================================== */
/* About us teaser */
/* =================================================================== */
.gym-insight-container {
  margin: 0;
}

.descriptor-text {
  background: var(--accent-color) linear-gradient(#7857d1, #503992);
  color: #fff;
  min-height: 19em;
  display: block;
  padding: 3rem 3.6rem;
}
.descriptor-text p {
  text-align: center;
}

.descriptor-text .btn {
  display: block;
  margin: 1.8rem auto;
  width: fit-content;
}
@media only screen and (min-device-width: 569px) {
  .gym-insight-container {
    display: grid;
    grid-template-columns: 1.25fr 0.75fr;
    height: fit-content;
    margin: 2rem auto;
  }

  .descriptor-text {
    display: grid;
    background: var(--accent-color) linear-gradient(#7857d1, #503992);
    color: #fff;
    display: block;
    padding: 1rem 1.6rem 0 1.6rem;
  }
  .descriptor-text p {
    text-align: center;
    margin-top: 25%;
    font-size: 1.4vw;
  }

  .descriptor-text .btn {
    display: block;
    margin: 1.8rem auto 0.7rem auto;
    width: fit-content;
  }
}
@media only screen and (min-device-width: 1025px) {
  .gym-insight-container {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
    height: fit-content;
    margin: 2rem auto;
  }

  .descriptor-text {
    display: grid;
    background: var(--accent-color) linear-gradient(#7857d1, #503992);
    color: #fff;
    min-height: 19em;
    display: block;
    padding: 3rem 3.6rem;
  }
  .descriptor-text p {
    text-align: center;
    margin-top: 17%;
    font-size: 1.4vw;
  }

  .descriptor-text .btn {
    display: block;
    margin: 2.8rem auto;
    width: fit-content;
  }
}
@media only screen and (min-device-width: 1601px) {
  .gym-insight-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    margin: 2rem auto;
  }

  .descriptor-text {
    display: grid;
    background: var(--accent-color) linear-gradient(#7857d1, #503992);
    color: #fff;
    min-height: 19em;
    display: block;
    padding: 3rem 3.6rem;
  }
  .descriptor-text p {
    text-align: center;
    margin-top: 17%;
    font-size: 1.4vw;
  }

  .descriptor-text .btn {
    display: block;
    margin: 2.8rem auto;
    width: fit-content;
  }
}
/* =================================================================== */
/* Benefits section  */
/* =================================================================== */

.member-benefits {
  max-width: 700px !important;
  /* display: flex !important;
  flex-wrap: wrap !important;
  flex-flow: column wrap !important;
  justify-content: center !important; */
}

.flexy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  max-width: 700px;
}
.benefit {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0.3em 0.3em;
  transition: all 0.3s ease-in-out;
  flex-direction: column;
  min-width: 250px;
  max-width: 100%;
  background-color: #000;
  flex: 1 1 5rem;
}

.coaching {
  background: url("./images/coaching-1.jpg") no-repeat center;
  background-size: cover;
  content: "";
  height: 250px;
}
.accountability {
  background: url("./images/accountability-2.jpg") no-repeat center;
  background-size: cover;
  content: "";
  height: 250px;
}
.nutrition {
  background: url("./images/nutrition-3.jpg") no-repeat center;
  background-size: cover;
  content: "";
  height: 250px;
}
.facilities {
  background: url("./images/facilities-4.jpg") no-repeat center;
  background-size: cover;
  content: "";
  height: 250px;
}

.facilities {
  margin-bottom: 2.5rem;
}

.coaching {
  margin-top: 2.5rem;
}
@media only screen and (min-device-width: 569px) {
  .flexy {
    max-width: 1200px;
    gap: 1rem;
  }
  .facilities {
    margin-bottom: 0;
  }

  .coaching {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 1025px) {
  .facilities {
    margin-bottom: 0;
  }

  .coaching {
    margin-top: 0;
  }
}
@media only screen and (min-device-width: 1601px) {
  .facilities {
    margin-bottom: 0;
  }

  .coaching {
    margin-top: 0;
  }
}
/* =================================================================== */
/* CEO Section  */
/* =================================================================== */
.ceo-message {
  background-color: #000;
  position: relative;
  height: fit-content;
}
.markDinesh {
  position: relative;
  display: block;
  margin-left: -5rem;
}
.blockquote {
  position: absolute;
  top: 20%;
  right: 3.6rem;
}
.blockquote p {
  color: #fff;
  font-size: 0.7rem;
  max-width: 11.8rem;
}
.ceo-cta {
  position: absolute;
  bottom: 27%;
  right: 3.6rem;
}
@media only screen and (min-device-width: 569px) {
  .ceo-message {
    background-color: #000;
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 3rem;
  }
  .markDinesh {
    position: relative;
    display: block;
    margin-left: -4rem;
    width: 70%;
    max-width: 500px;
  }
  .blockquote {
    position: absolute;
    top: 30%;
    right: 13vw;
  }
  .blockquote p {
    color: #fff;
    font-size: 1.8vw;
    max-width: 25rem;
  }
  .blockquote-footer {
    font-size: 1.2rem !important;
  }
  .ceo-cta {
    position: absolute;
    bottom: 10%;
    right: 20%;
    font-size: 1.75rem !important;
    padding: 9px 15px !important;
  }
}
@media only screen and (min-device-width: 1025px) {
  .ceo-message {
    background-color: #000;
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 3rem;
  }
  .markDinesh {
    position: relative;
    display: block;
    margin-left: 2rem;
    width: 50%;
    max-width: 500px;
  }
  .blockquote {
    position: absolute;
    top: 25%;
    right: 17vw;
  }
  .blockquote p {
    color: #fff;
    font-size: 2.2rem;
    max-width: 40rem;
  }
  .blockquote-footer {
    font-size: 1.4rem !important;
  }
  .ceo-cta {
    position: absolute;
    bottom: 10%;
    right: 20%;
    font-size: 1.75rem !important;
    padding: 9px 15px !important;
  }
}

@media only screen and (min-device-width: 1601px) {
  .ceo-message {
    background-color: #000;
    position: relative;
    height: fit-content;
    width: 100%;
    margin-top: 3rem;
  }
  .markDinesh {
    position: relative;
    display: block;
    margin-left: 4rem;
    width: 50%;
    max-width: 500px;
  }
  .blockquote {
    position: absolute;
    top: 25%;
    right: 20vw;
  }
  .blockquote p {
    color: #fff;
    font-size: 2.7rem;
    line-height: 4.5rem;
    max-width: 40rem;
  }
  .blockquote-footer {
    font-size: 1.6rem !important;
  }
  .ceo-cta {
    position: absolute;
    bottom: 7%;
    right: 20%;
    font-size: 1.75rem !important;
    padding: 9px 15px !important;
  }
}
/* =================================================================== */
/* Trainers Section  */
/* =================================================================== */
.trainer-block {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: fit-content;
  margin: 2rem auto;
  box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
  max-width: 650px;
}

.trainer-details {
  display: grid;
}
.schedule {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
@media only screen and (min-device-width: 569px) {
  .trainer-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    margin: 2rem auto;
    box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
    max-width: 650px;
  }

  .trainer-details {
    display: grid;
    width: 95%;
    margin: 2rem auto;
    font-size: 2.4vw;
    align-content: center;
  }
  .schedule {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}
@media only screen and (min-device-width: 1025px) {
  .trainer-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    margin: 2rem auto;
    box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
    max-width: 650px;
  }

  .trainer-details {
    display: grid;
    width: 90%;
    margin: 2rem auto;
    font-size: 2rem;
    align-content: center;
  }
  .schedule {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}
@media only screen and (min-device-width: 1601px) {
  .trainer-block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
    margin: 2rem auto;
    box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
    max-width: 650px;
  }

  .trainer-details {
    display: grid;
    width: 90%;
    margin: 2rem auto;
    font-size: 2rem;
    align-content: center;
  }
  .schedule {
    margin-bottom: 4rem;
    margin-top: 2rem;
  }
}
/* =================================================================== */
/* Footer Section  */
/* =================================================================== */
.footer {
  display: grid;
  background-color: black;
  padding: 1rem 3.6rem;
  grid-template-columns: 1fr 1.25fr 1fr;
  grid-template-rows: 1.1fr 0.8fr 1fr 0.5fr;
  grid-template-areas:
    "footer-logo   sub-menu       socials"
    " ...           form-group        ...."
    "...           address        ...."
    "...           copyright      ....";
}
.footer-logo {
  grid-area: footer-logo;
  display: block;
  margin: auto;
}
.sub-menu {
  grid-area: sub-menu;
  color: #fff;
  display: block;
  list-style: none;
  margin: auto !important;
}
.sub-menu ul {
  list-style: none;
  margin: auto !important;
  padding: 0.75rem;
  line-height: 2rem;
}
.socials {
  grid-area: socials;
  color: #fff;
  display: block;
  margin: auto;
  line-height: 2rem;
}
.form-group {
  grid-area: form-group;
  color: #fff;
  display: block;
  margin: auto;
  padding: 0;
}
.form-group label {
  display: block;
  width: 80%;
  margin: 0.2rem auto;
  text-align: center;
  align-items: center;
}
.submit-btn {
  display: inline-block;
  margin: 0.2rem auto;
  align-items: center;
  width: 100%;
}
.address {
  grid-area: address;
  color: #fff;
  display: block;
  margin: auto;
}
.copyright {
  grid-area: copyright;
  color: #fff;
  display: block;
  margin: auto;
}
@media only screen and (min-device-width: 569px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1025px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1601px) {
  h1 {
    color: red;
  }
}

/* ====================== About Page ===================== */
.about-us {
  padding: 1.6rem 3.6rem;
  box-sizing: border-box;
  overflow: hidden;
  background-color: #f5f5f5;
  position: relative;
}
.section-title {
  text-align: center;
}
.image-framing {
  position: relative;
  width: 100%;
  height: calc((100vw - 7.3rem) * 0.83);
  background-color: #f5f5f5;
}
.about-image-frame {
  background-color: var(--accent-color);
  content: " ";
  position: absolute;
  top: 0;
  bottom: 10%;
  right: 10%;
  left: 0;
  z-index: 1;
}
.about-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 2;
}

.about-text {
  border: none;
  margin: 1.6rem auto 3rem;
  padding: 1.6rem;
  line-height: 1.4rem;
  box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
  min-width: 242px;
  height: 220px;
  max-width: 200px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}
.about-cta {
  margin: 1.5rem auto 3.6rem auto;
  align-content: center;
  width: max-content;
}
@media only screen and (min-device-width: 569px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1025px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1601px) {
  h1 {
    color: red;
  }
}

/* ====================== Contact Page ===================== */
.contact-form {
  padding: 3rem 3.7rem 0.5rem;
  background-color: #fff;
  margin: 4rem 0;
}
label {
  color: #000;
  text-align: left !important;
  width: 100% !important;
  font-weight: 600;
}
.form-text {
  font-size: 0.7rem !important;
}
@media only screen and (min-device-width: 569px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1025px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1601px) {
  h1 {
    color: red;
  }
}

/* ====================== Register Page ===================== */
.form-title {
  font-size: 2.5rem;
  font-weight: 600;
}
.sign-in {
  margin: 2.5rem 0 3rem;
}
.sign-in h6 {
  width: fit-content;
  margin: 1rem auto;
}
.sign-in .btn {
  display: block;
  width: fit-content;
  margin: 0 auto;
}
hr {
  margin: none !important;
  width: 60%;
}
.name-label {
  margin-top: 2rem !important;
}
@media only screen and (min-device-width: 569px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1025px) {
  h1 {
    color: red;
  }
}
@media only screen and (min-device-width: 1601px) {
  h1 {
    color: red;
  }
}

/* ====================== Terms Page ===================== */

.terms .section-title {
  font-size: 1.6rem;
}
.terms-body {
  font-size: 0.7rem;
}
