/* Global */
:root {
  --accent-color: #7857d1;
}
html {
  font-size: 10px;
}
body {
  font-family: "Montserrat", sans-serif !important;
  overflow-x: hidden;
  box-sizing: border-box;
}
.btn {
  font-family: "Montserrat", sans-serif;
}
.btn-primary {
  background-color: var(--accent-color) !important;
  border-color: var(--accent-color) !important;
}
.btn-secondary {
  background-color: white !important;
  border-color: white !important;
  color: black !important;
}
.btn-xs {
  font-size: 0.875rem !important;
  padding: 2.5px 5px !important;
}
.btn-sm {
  font-size: 1.25rem !important;
  padding: 5px 10px !important;
}
.btn-md {
  font-size: 1.5rem !important;
  padding: 7.5px 12.5px !important;
}
.btn-lg {
  font-size: 1.75rem !important;
  padding: 9px 15px !important;
}
.container {
  padding: 1.3rem 3.6rem !important;
}
.col {
  padding: 0 !important;
}

/* Navbar Styling */
nav {
  padding-left: 3.6rem !important;
  padding-right: 3.6rem !important;
}
.navbar {
  background-color: #000;
}
.navbar-toggler {
  background-color: white;
}

/* Hero-Styling */
.hero-video {
  overflow: hidden;
  position: relative;
  margin: 0;
  padding: 0;
}
video {
  width: 100%;
  height: 60vh;
  transform: scale(2, 2);
}
.video-overlay {
  position: absolute;
  background-color: #000;
  opacity: 0.55;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
}
.video-text-content {
  position: absolute;
  z-index: 3;
  top: 30%;
  padding-left: 3.6rem;
}
.video-text-content h1 {
  text-transform: uppercase;
  font-size: 4.5rem;
  font-weight: 600;
  color: #fff;
}
.video-text-content p {
  font-size: 1.15rem;
  color: rgb(216, 215, 215);
}
.hero-cta {
  position: absolute;
  bottom: 10%;
  z-index: 3;
  padding-left: 3.6rem;
}
.btn-accent {
  background-color: var(--accent-color);
}

/* Membership Section  */
.membership {
  padding: 1.3rem 3.6rem;
}

.section-title {
  font-weight: 600;
  font-size: 2.5rem;
  display: block;
  margin: 1.9rem auto;
}
.card {
  margin: 2.8rem 0 !important;
  position: relative;
  border: none;
  border-radius: 0.3rem !important;
  box-shadow: 0.2px 0.3px 9px rgba(0, 0, 0, 0.2);
}
.card-split-left {
  width: 78%;
  display: block;
  position: relative;
  border: none;
  padding: 1rem 0 1rem 1.3rem;
}
.card-split-right {
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
  background-color: var(--accent-color);
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 78%;
}
.card-split-right p {
  display: flex;
  position: relative;
  text-align: center;
  border: none;
  color: #fff;
  font-weight: 600;
  font-size: 1.1rem;
}

.card-title {
  font-size: 1.6rem !important;
  font-weight: 900 !important;
}
.card-subtitle {
  font-size: 0.8rem !important;
  font-weight: 400 !important;
}
pre {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.6rem !important;
  font-weight: 900 !important;
}
pre .frequency {
  font-family: "Montserrat", sans-serif !important;
  font-size: 0.7rem !important;
  font-weight: 600 !important;
}
pre .price {
  font-family: "Montserrat", sans-serif !important;
  font-size: 1.2rem !important;
  font-weight: 600 !important;
}
.card-block ul {
  margin: 0;
  padding: 0 0 0 1.5rem;
}

/* About us teaser */
.descriptor-text {
  background: var(--accent-color) linear-gradient(#7857d1, #503992);
  color: #fff;
  min-height: 19em;
  display: block;
  padding: 3rem 3.6rem;
}
.descriptor-text p {
  text-align: center;
}

.descriptor-text .btn {
  display: block;
  margin: 1.8rem auto;
}
